#mask {
    background-color: #fffc;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_attribute {
    background-color: #fff;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 100px;
    box-shadow: 2px 2px 10px #bbb;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border: 2px solid #999;
}

#title_bar {
    width: 100%;
    height: 28px;
    line-height: 30px;
    background-color: #ddd;
    margin: 0 0 30px 0;
    border-bottom: 4px #bbb solid;
}

#win_name {
    padding-left: 45px;
    display: table;
    float: left;
    height: 30px;
    font-size: 1.1em;
    line-height: 30px;
    text-align: center;
    color: #006;
    font-weight: 900;
    border-left: #006 solid 10px;
}

#close_btn {
    display: block;
    float: right;
    background-color: #900;
    height: 28px;
    line-height: 28px;
    width: 55px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9em;
    border-bottom: 4px solid #600
}

[data-loader='timer'] {
    position: relative;
    width: 48px;
    height: 48px;
    border: 4px solid #900;
    border-radius: 50%;
    background-color: #d905;
}

[data-loader='timer']:after,
[data-loader='timer']:before {
    position: absolute;
    content: '';
    background-color: #900;
}

[data-loader='timer']:after {
    top: 22px;
    left: 22px;
    width: 20px;
    height: 4px;
    -webkit-transform-origin: 1px 1px;
    -moz-transform-origin: 1px 1px;
    transform-origin: 2px 2px;
    -webkit-animation: timerhand 2s linear infinite;
    -moz-animation: timerhand 2s linear infinite;
    animation: timerhand 2s linear infinite;
}

[data-loader='timer']:before {
    top: 22px;
    left: 22px;
    width: 16px;
    height: 4px;
    -webkit-transform-origin: 1px 1px;
    -moz-transform-origin: 1px 1px;
    transform-origin: 2px 2px;
    -webkit-animation: timerhand 8s linear infinite;
    -moz-animation: timerhand 8s linear infinite;
    animation: timerhand 8s linear infinite;
}

@-webkit-keyframes timerhand {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes timerhand {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes timerhand {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes timerhand {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}